$theme-color: #0A0A5F;
$marin-blue: #183590;
$tar-blue: #0C0C61;
$gr-blue: #1c429e;
$light-grey: grey;
$clr-base-dark: #333333;
$clr-secondary: #307fe2;
$clr-purple: #d6dffb;
$blue: #307fe2;
$off-white: #fafafa;
$clr-grey: #e0e0e0;
$clr-gin: #edf1ff;
$bg-white: rgba(244, 247, 255, 0.85);
$white: white;
$f-white: #fff;
$white-5: #FFFFFF;
$touple: #D1D6E8;
$purplel: #C3CFF099;
$black: black;
$black-hover: #1b3f9a0f;
$black-0: #000;
$black-5: #000000;
$black-r: rgba(0, 0, 0, .87);
$d8e2ff: #d8e2ff;
$active: #E6EAF7;
$light-purple: #E8ECF8;
$clr-active:#F5F6F9;
$greyish-red:#8b8b8b;
$greyish-red-2:#999999;
$clr-light-grey:#D4D4D8;
$redis: #cccccc;
$chocolate: chocolate;
$grey-line: #d0d5e5;
$orange-line: #ffefdb;
$pink-line: #ffe5e2;
$disclaimer: #f3c;
$green-line: #ceecd9;
$border-color: #ccc;
$mud: #646464;
$red: red;
$light-red:#ededed;
$yellow: yellow;
$redis-grey: #d9d9d9;
$black-lite: #202047;
$milano: #95A5D5;